@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="" style="max-height:200px;overflow:hidden;filter: blur(1.5px);">
    <img class="img-fluid" style="transform:translateY(-65px); " src="~/Images/banners/Jeune.jpg" />
</div>
<div class="" style="height:100%;width:auto;display:flex;justify-content:center;align-items:center; ">
    <div class="p-5";width:auto;height:auto">
        <div class="mb-3" height:100%;width:100%;">
            <div class="d-flex justify-content-center mb-3" style="width:auto">
                <h3 style="color:#0B2769">s'identifier</h3>
            </div>
            <div class="mb-2">
                <input class="BlueItem ButtonBorder" type="text" id="MailText" placeholder="E-mail" />
            </div>
            <div>
                <input class="BlueItem ButtonBorder" type="text" id="PasswordText" placeholder="Mot de passe" />
            </div>
            <div class="mt-3 d-flex justify-content-center" style="width:100%" >
                <input class="BlueItem ButtonBorder" type="submit" id="ConnectButton" style="width:100%" value="Se connecter" />
            </div>
            <div class="d-flex justify-content-center";>
            <p style="color:#0B2769">Impossible de se connecter ?</p>
            </div>
        </div>
    </div>
</div>
