@using LORHAPI_Client.Areas.User.Models
@{
    ViewData["Title"] = "Connexion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model User

<div class="" style="max-height:200px;overflow:hidden;filter: blur(1.5px);">
    <img class="img-fluid" style="transform:translateY(-65px); " src="~/Images/banners/Jeune.jpg" />
</div>

<div class="blue-container">
    <div class="signup-form pt-5">
        @using (@Html.BeginForm("LoginAsync", "HomeController", FormMethod.Post))
        {
            <h2>Sign Up</h2>
            <p>Please fill in this form to create an account!</p>
            <hr>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Mail, new { @class = "form-control", type = "email", placeholder = "Email", required = "required" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
            </div>
        }
        <div class="hint-text">Already have an account? <a href="#">Login here</a></div>
    </div>
</div>