@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid p-0">
    <div class="" style="height:200px;overflow:hidden;">
        <img class="img-fluid " style="transform:translateY(-65px)" src="~/Images/banners/Jeune.jpg"/>
    </div>

    <div class="testAki">
        <p>Coucou</p>
    </div>
</div>
