@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid pr-0 pl-0 position-relative" style="bottom:50px">
    <div class="" style="height:200px;overflow:hidden;">
        <img class="img-fluid position-relative " style="transform:translateY(-65px); " src="~/Images/banners/Jeune.jpg"/>
    </div>

</div>
