@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid p-0">
    <div class="" style="height:200px;overflow:hidden;">
        <img class="img-fluid " style="transform:translateY(-65px)" src="~/Images/banners/Jeune.jpg"/>
    </div>

    @*<div class="" style="margin-top:8px;">  FCT DE RECHERCHE
        @using (Html.BeginForm("Index", "HomeController", FormMethod.Get))
        {
            <ul class="nav navbar-nav testAki">
                <li>@Html.TextBox("id", ViewBag.CurrentFilter as string)</li>
                <li><input type="submit" value="Search" /></li>
            </ul>
        }
    </div>*@
</div>
