<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LORHAPI_Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class=" HeaderBgColor mt-md-5 position-relative" style="bottom:50px">
            <div class="container position-relative" style="right:30px">
                <ul class="w-100 justify-content-between align-items-center d-flex" style="top:15px">


                    <li class="">
                        <a class="noDecoWithFontFamily" asp-area="Basic" asp-controller="Home" asp-action="PageConnexion">Espace Pro</a>
                        <span></span><span></span><span></span><span></span>
                    </li>

                    <li class="title">
                        <a class="navbar-brand TitleHeader ml-3 NoDecoration" asp-area="" asp-controller="Home" asp-action="Index">LorHapi</a>
                    </li>

                    <li class="">
                        <a class="noDecoWithFontFamily" asp-area="Basic" asp-controller="Home" asp-action="Contactez_Nous">Contactez-Nous</a>
                        <span></span><span></span><span></span><span></span>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
        <main role="main" class="">
            @RenderBody()
        </main>
   

    <footer class="border-top footer FooterBgColor" style=" display:flex" >
        <div class="container d-flex justify-content-between">

            <div class="justify-content-between col-md-2" style="display:flex">

                <div>
                    <img class="rounded" height="60" width="60" src="~/Images/logos/armee.png" />
                </div>

                <div>
                    <img class="rounded" height="60" width="60" src="~/Images/logos/pe.png" />
                </div>
                    
            </div>
            
            <div class="justify-content-between">
                <a class="text-center noDecoWithFontFamily" asp-area="" asp-controller="Home" asp-action="Privacy">COPYRIGHT 2022 © LORHAPI</a>
            </div>
            

            <div class="d-flex justify-content-between col-md-2">

                <div>
                    <img class="rounded" height="60" width="60" src="~/Images/logos/smv.png" />
                </div>

                <div>
                    <img class="rounded" height="60" width="60" src="~/Images/logos/ml.png" />
                </div>
                
             </div>
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>