<div class="d-flex flex-nowrap MH100MQueries BannerMaxHeight">
    <img class="w-100" src="~/Images/banners/Jeune.jpg" />
</div>
<div class=" d-flex justify-content-center position-relative" style="height:100%;width:100%; bottom:18px">
    <div class=" d-flex justify-content-center" style="max-height:50px; width:100%">
        <input type="button" class="ButtonHead  btn-outline-primary shadow" value="Accueil" />
        <input type="button" class="ButtonHead MarginCenter btn-outline-primary shadow" value="Utilisateurs" />
        <input type="button" class="ButtonHead MarginCenter btn-outline-primary shadow" value="Organisations" />
        <input type="button" class="ButtonHead MarginCenter btn-outline-primary shadow" value="Insertions" />
        <input type="button" class="ButtonHead MarginCenter btn-outline-primary shadow" value="Mon Profil" />
    </div>
</div>
<div class="d-flex justify-content-center mb-md-4" style="height:100%;width:100%;">
    <div class="p-md-2" style="height:450px; width:1000px; background-color:#E6ECFB">
        <div class="d-flex justify-content-center">
            <h3 class="mt-md-2">Bienvenue dans l'interface de gestion administrateur LorHapi</h3>
        </div>
        <div class="position-relative" style="height:100%;width:100%; top:10px">
            <p class="CenterText">Vous pouvez changer vos informations personnelles en cliquant sur "Mon profil"</p>
            <p class="CenterText">Vous pouvez gérer des utilisateurs en cliquant sur "Utilisateurs"</p>
            <p class="CenterText">Vous pouvez gérer des insertions en cliquant sur "Mes insertions"</p>
            <div class="position-relative" style="top:20px">
                <p class="CenterText">Toute l'équipe LorHapi vous souhaite une agréable journée</p>
                <div class="d-flex justify-content-center">
                <div class="Line" style="; max-width:400px;"></div>
                </div>
            </div>
            <div class="position-relative" style="top:50px">
                <p class="CenterText">Affichage des mises a jour</p>
            </div>
        </div>
    </div>
</div>


