<div>
    <div class="" style="max-height:200px;overflow:hidden;filter: blur(1.5px);">
        <img class="img-fluid" style="transform:translateY(-65px); " src="~/Images/banners/Jeune.jpg" />
    </div>
    <div class="position-absolute">
         

    </div>
</div>


