<div class="d-flex flex-nowrap MH100MQueries BannerMaxHeight">
    <img class="w-100" src="~/Images/banners/Jeune.jpg" />
</div>
<div class=" d-flex justify-content-center position-relative" style="height:100%;width:100%; bottom:18px">
    <div class=" d-flex justify-content-center" style="max-height:50px; width:100%">
        <input type="button" onclick="window.location='/Admin/'" class="ButtonHead  btn-outline-primary shadow" value="Accueil" />
        <input type="button" onclick="window.location='Users'" class="ButtonHead MarginCenter btn-outline-primary shadow" value="Utilisateurs" />
        <input type="button" onclick="window.location='Organizations'" class="ButtonHead MarginCenter btn-outline-primary shadow" value="Organisations" />
        <input type="button" onclick="window.location='Insertions'" class="ButtonHead MarginCenter btn-outline-primary shadow" value="Insertions" />
        <input type="button" onclick="window.location='Profile'" class="ButtonHead MarginCenter btn-outline-primary shadow" value="Mon Profil" />
    </div>
</div>

<div class="d-flex justify-content-center" style="max-height:500px; width:100%; height:100%">
    <div style="max-width:1200px;width:50%; background-color:#E6ECFB; height:100%" class="">
        <div class="d-flex justify-content-center" style="width:100%; height:100%">
            <div class="d-flex justify-content-between" style="height:3em;width:100%;">
                <div class="d-flex justify-content-between" style=" width:80%;height:100%;">
                    <div style=" height:100%; width:10%;">
                        <img />
                    </div>
                    <div style=" width:90%; height:100%;" class="mt-md-3">
                        <h3 style=" font-weight:bolder;font-size:1.3em">Liste des utilisateurs</h3>
                    </div>
                </div>
                <div class="d-flex" ;" style="height:100%; width:20%">
                    <input class=" NormalButton CenterText " type="button" style="background-color:white; font-size:1vw" value="Créer organisation">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-md-2">
            <div class="Line"></div>
        </div>
        <div class="d-flex mt-md-2" style="width:100%;height:20vw;">
            <div class="Carte" style="">
                <div class="ContainerLittleImg">
                </div>
                <div style="height:6%">
                    <p>Nom :</p>
                </div>
                <div style="height:10%">
                    <p>Téléphone :</p>
                </div>
                <div style="height:10%">
                    <p>Adresse :</p>
                </div>
                <div style="height:10%">
                    <p>Code Postal :</p>
                </div>
                <div style="height:10%">
                    <p>Ville :</p>
                </div>
                <div class="d-flex justify-content-around " style="height:10%;width:100%; ">
                    <button class="btn-success LittleButton">Modifier</button>
                    <button class="btn-danger LittleButton">Supprimer</button>
                </div>
            </div>
        </div>

    </div>
</div>