@{
    ViewData["Title"] = "Insertion page";
}
<div class="container-fluid p-0">
    <div class="" style="height:200px;overflow:hidden; position:relative">
        <img class="img-fluid " style="transform:translateY(-65px)" src="~/Images/banners/Jeune.jpg" />
    </div>
</div>
<div>
    <div class="ButtonHeader row justify-content-center position-relative " style="bottom:45px">
        <button class="ButtonType col-md-2 m-3 p-1 ">Accueil</button>
        <button class="ButtonType  col-md-2 m-3 ">Mes informations</button>
        <button class="ButtonType  col-md-2 m-3 ">Liste des organisations</button>
        <button class="ButtonType  col-md-2 m-3 ">Mes Insertions</button>
    </div>
</div>
<div class="HomePagePro position-relative col-md-7" style="text-align:center;background-color:lightblue;left:19%; right:auto">
    <p>Bienvenue dans l'interface de gestion LorHapi</p>
    <p>Vous pouvez changer vos informations personnelles en cliquant sur "Mes informations".</p>
    <p>Vous Pouvez Gérer vos insertions en cliquant sur "Mes Insertions".</p>
    <p>Toute l'équipe LorHapi vous souhaite une agréable journée.</p>
    <div class="mt-md-1" style="height:1px; background-color:black;"></div>
    <div class="PatchNotes mt-md-1 pb-md-2"> 
        Patchnotes
    </div>
</div>


