@{
    ViewData["Title"] = "Insertion page";
}
<div class="container-fluid p-0">
    <div class="" style="height:200px;overflow:hidden; position:relative">
        <img class="img-fluid " style="transform:translateY(-65px)" src="~/Images/banners/Jeune.jpg" />
    </div>
</div>
<div>
    <div class="ButtonHeader row justify-content-center position-relative" style="bottom:25px">
        <button class="ButtonType  col-md-2 ml-md-2 btn-outline-primary" runat="server" onclick="Accueil_Click" style="font-size:19px;">Accueil</button>
        <button class="ButtonType  col-md-2 ml-md-2 btn-outline-primary" onclick="Info_Click" style="font-size:19px;">Mes informations</button>
        <button class="ButtonType  col-md-2 ml-md-2 btn-outline-primary" onclick="Organisations_Click" style="font-size:19px;">Liste des organisations</button>
        <button class="ButtonType  col-md-2 ml-md-2 btn-outline-primary" onclick="Insertion_Click" style="font-size:19px;">Mes Insertions</button>
    </div>
</div>
<div class="HomePagePro position-relative col-md-7 pb-md-5" style="text-align:center;background-color:lightblue;left:19%; right:auto">
    <p>Bienvenue dans l'interface de gestion LorHapi</p>
    <p>Vous pouvez changer vos informations personnelles en cliquant sur "Mes informations".</p>
    <p>Vous Pouvez Gérer vos insertions en cliquant sur "Mes Insertions".</p>
    <p>Toute l'équipe LorHapi vous souhaite une agréable journée.</p>
    <div class="mt-md-1" style="height:1px; background-color:black;"></div>
    <div class="PatchNotes mt-md-1">
        Patchnotes
    </div>
</div>

<script runat="server"></script>


