@{
    ViewData["Title"] = "Insertion page";
}
<div class="ButtonHeader">
    <button>Accueil</button>
    <button>Mes informations</button>
    <button>Liste des organisations</button>
    <button>Mes Insertions</button>
</div>

<p>Bienvenue dans l'interface de gestion LorHapi</p>
<p>Vous pouvez changer vos informations personnelles en cliquant sur "Mes informations".</p>
<p>Vous Pouvez Gérer vos insertions en cliquant sur "Mes Insertions".</p>

<p>Toute l'équipe LorHapi vous souhaite une agréable journée.</p>

