@{
    ViewData["Title"] = "Insertion page";
}
<div class="container-fluid p-0">
    <div class="" style="height:200px;overflow:hidden;">
        <img class="img-fluid " style="transform:translateY(-65px)" src="~/Images/banners/Jeune.jpg" />
    </div>
</div>
<div>
    <div class="ButtonHeader row justify-content-center ">
        <button class="ButtonType col-md-1">Accueil</button>
        <button class="ButtonType  col-md-1">Mes informations</button>
        <button class="ButtonType  col-md-1">Liste des organisations</button>
        <button class="ButtonType  col-md-1">Mes Insertions</button>
    </div>
</div>

<div class="HomePagePro ">
    <p>Bienvenue dans l'interface de gestion LorHapi</p>
    <p>Vous pouvez changer vos informations personnelles en cliquant sur "Mes informations".</p>
    <p>Vous Pouvez Gérer vos insertions en cliquant sur "Mes Insertions".</p>
    <p>Toute l'équipe LorHapi vous souhaite une agréable journée.</p>
</div>

