@using LORHAPI_Client.Controllers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="position-relative" style="height:200px;overflow:hidden; bottom:50px">
    <img class="img-fluid position-relative " style="transform:translateY(-65px); " src="~/Images/banners/Jeune.jpg" />
</div>
<div>
    <div class="ButtonHeader row justify-content-center position-relative" style="bottom:70px">
        <button class="ButtonType btn btn-light col-md-2 ml-md-4 btn-outline-primary" onclick="window.location = 'https://localhost:5001/EspacePro'" style="font-size:17px; ">Accueil</button>
        <button class="ButtonType btn btn-light col-md-2 ml-md-4 btn-outline-primary" onclick="window.location = 'MesInformations'" style="font-size:17px;">Mes informations</button>
        <button class="ButtonType btn btn-light col-md-2 ml-md-4 btn-outline-primary" onclick="window.location = 'MesInsertions'" style="font-size:17px;">Mes Insertions</button>
    </div>
</div>

<h2 class="col-md-4 align-content-center row justify-content-center" style="left:35%;bottom:50px">Mes Insertions</h2>