/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/*header SECTION*/
.TitleHeader {
    font: normal normal normal 60px/78px Lorhapi;
    letter-spacing: 0px;
    color: #FDFDFD;
    opacity: 1;
}

.TextColorHeader {
    color: #0B2769;
}


.HeaderBgColor {
    background-color: #0B2769;
}

.BtnHeader {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 0px #00000029;
    border-radius: 20px;
    opacity: 1;
}


/* Footer Parts*/

.FooterBgColor {
    background-color: #0B2769;
}

@font-face {
    font-family: 'Lorhapi'; /*a name to be used later*/
    src: url('../fonts/Blank River.ttf'); /*URL to font*/
}


/*HeaderBtnEffect*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        --c: #CED9F7;
        color: var(--c);
        font-size: 16px;
        border: 0.2em solid var(--c);
        border-radius: 20px;
        width: 12em;
        height: 3em;
        font-weight: bold;
        font-family: sans-serif;
        letter-spacing: 0.1em;
        text-align: center;
        line-height: 3em;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: 0.5s;
        margin: 1em;
    }

a.noDecoWithFontFamily {
    text-decoration: none !important;
    color: white !important;
    font: normal normal normal 18px/24px Yu Gothic UI !important;
}

a.NoDecoration {
    text-decoration: none !important;
    color: white;
}

li.title {
    border: none;
    display: flex;
    height: fit-content;
}

nav ul li span {
    position: absolute;
    width: 26%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 20%;
    left: calc((var(--n) - 2) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: white;
}

    nav ul li:hover span {
        transform: translateY(0) scale(2);
    }

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}
/*End BtnHeader Section*/


testo {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

coucou {
    max-height: 50px;
}

testAki {
    background: #E6ECFB 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 0px #00000029;
    border-radius: 43px;
    opacity: 1;
}

.ButtonType {
    border-radius: 25px;
    box-shadow: 12px 12px 2px 1px gray;
    font-family: Calibri;
    text-align: center;
    font-weight:700;
    width:20px;
}
.Line {
width:1px;
height:5px;
}

