<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LORHAPI_Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar border-bottom HeaderBgColor">
            <ul class="container mb-n4 justify-content-between">


                <li class=" mb-4">
                    <a class="noDeco" asp-controller="Home" asp-action="Index">Espace Pro</a>
                    <span></span><span></span><span></span><span></span>
                </li>
                
                <li class="title">
                    <a class="navbar-brand TitleHeader ml-3" asp-area="" asp-controller="Home" asp-action="Index">LorHapi</a>
                </li>  
                
                <li class="mb-4">
                    <a class="noDeco" asp-area="" asp-controller="Home" asp-action="Privacy">Contactez-Nous</a>
                    <span></span><span></span><span></span><span></span>
                </li>
                



                
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer FooterBgColor min-vh-10">
        <div class="container text-center justify-content-around d-flex align-content-center mt-3">

            <div class="container d-flex justify-content-between mb-3 mr-3">

                <div>
                    <img class="rounded" height="60" width="60" src="~/Images/logos/armee.png" />
                </div>

                <div>
                    <img class="rounded" height="60" width="60" src="~/Images/logos/pe.png" />
                </div>
                    
            </div>
            
            <div class="container d-flex justify-content-around ml-5 mr-5 mt-4">
                <a class="text-center noDeco" asp-area="" asp-controller="Home" asp-action="Privacy">COPYRIGHT 2022 © LORHAPI</a>
            </div>
            

            <div class="container d-flex justify-content-between mb-3 ml-3">

                <div>
                    <img class="rounded" height="60" width="60" src="~/Images/logos/smv.png" />
                </div>

                <div>
                    <img class="rounded" height="60" width="60" src="~/Images/logos/ml.png" />
                </div>
                
             </div>
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
