<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LORHAPI_Client</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
<section id="header">
    <header>
        <nav class="HeaderBgColor">
            <div class="container-fluid">
                <ul class="w-100 justify-content-between d-flex align-items-center">

                    <li class="">
                        <a class="noDecoWithFontFamily" asp-controller="Home" asp-action="Index">Espace Pro</a>
                        <span></span><span></span><span></span><span></span>
                    </li>
                    

                    <li class="title">
                        <a class="TitleHeader NoDecoration" asp-area="" asp-controller="Home" asp-action="Index">LorHapi</a>
                    </li>

                    <li class="">
                        <a class="noDecoWithFontFamily" asp-area="" asp-controller="Home" asp-action="Privacy">Contactez-Nous</a>
                        <span></span><span></span><span></span><span></span>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
</section>  

        <main role="main" class="">
            @RenderBody()
        </main>
   
<section id="footer">
    <footer class="border-top footer FooterBgColor">
        <div class="container-fluid d-flex flex-row justify-content-around pt-2 pb-2">

            <div class="container d-flex flex-row justify-content-around">

                
                    <img class="rounded" height="60" width="60" src="~/Images/logos/armee.png" />
                
                    <img class="rounded" height="60" width="60" src="~/Images/logos/pe.png" />
                
                    
            </div>
            
            <div class="container d-flex flex-row justify-content-around align-items-center">
                <a class="noDecoWithFontFamily" asp-area="" asp-controller="Home" asp-action="Privacy">COPYRIGHT 2022 © LORHAPI</a>
            </div>
            

            <div class="container d-flex flex-row justify-content-around">

                
                    <img class="rounded" height="60" width="60" src="~/Images/logos/smv.png" />
                
                    <img class="rounded" height="60" width="60" src="~/Images/logos/ml.png" />
                
                
             </div>
            
        </div>
    </footer>
</section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>